:root {
    --primaryColorLight:#f1f1f1;
    --primaryColorDark:#252525;
    --primaryColorAdd:#df5555;
    --primaryColorRed:#c02d35;
    --primaryColorBlue:#2664aa;
    --primaryColorPink:#b81775;
    --primaryColorAdd2:#57a6f5;
}